<section id="successfully-registered-banner" class="content-wrapper banner">
  <div class="banner-heading-wrapper">  
    <h2>您好<br />
    目前本服務一人僅限申請一次<br>
    造成不便還請見諒</h2>
    <p>若有任何問題，懇請不吝指教</p>
    <h2>分享給親朋好友！</h2>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-3 banner-form-wrapper">
          <input type="text" value="http://mission-apartment.dev/" class="text-center">
        </div>
      </div>
    </div>
  </div>
</section>