<section id="landing-banner" class="full-section banner">
  <div class="banner-heading-wrapper container-fluid">  
    <i class="icon fa-video-camera"></i>
    <h2>新生活，眼見為憑<br>
    Mission Apartment 視訊看屋</h2>

    <p>發起看屋任務，透過互動式視訊直播，清楚掌握租屋實況<br />
    <%= icon('angle-double-down', '', class: 'fa-lg') %>
    </p>
  </div>
</section>

<section id="landing-banner-2" class="banner full-section">
  <div class="banner-heading-wrapper container-fluid">
    <p>租到理想房屋的成本: <br>
    跨縣市 3 HRs 車程 + 高鐵 2000 元來回車票 + 一個星期的安排
    </p>
    <p>
    為了租到喜歡的房屋，必須歷經千辛萬苦;<br />
    </p>
    <p>
      為什麼不讓住在附近的朋友幫你視訊轉播房屋狀況呢?
    </p>
  </div>
</section>

<!-- One -->
<section id="one" class="wrapper style1">
  <div class="inner">
    <article class="feature left">
      <span class="image"><%= image_tag("landing-row-2.jpg") %></span>
      <div class="content">
        <h2>租屋看房<br />不再大費周章</h2>
        <p>您不必再為了看 10 分鐘的房屋實況而親自從高雄跑到台北;<br />
        將您的租屋清單交給 Mission Apartment，您只要打開手機或電腦，我們會為您實況直播房屋狀況，讓您把時間和交通費省下來給更珍貴的事情!
        </p>
      </div>
    </article>
    <article class="feature right">
      <span class="image"><%= image_tag("landing-row-1.jpg") %></span>
      <div class="content">
        <h2>有問題想問房東?<br />
        交給我們!</h2>
        <p>我們在直播時，可以即時幫您詢問房東問題，或是幫您查看房屋細節。<br />
        租屋照片看不到、介紹寫不清楚的，都可以在直播時得到答案!<br />
        </p>
      </div>
    </article>
  </div>
</section>

<!-- Four -->
<section id="four" class="wrapper style2 special">
  <div class="inner">
    <header class="major narrow">
      <h2>歡迎成為我們的試用會員<br />
      完全免費</h2>
      <p>Mission Apartment 目前正在試營運<br />
      若您已經有中意想租的房屋，歡迎交付看屋任務給我們！
      </p>
      <%= link_to("申請免費直播看屋", new_user_registration_path, class: "button big special") %>
    </header>
  </div>
</section>