<!-- Header -->
<header id="header" class="alt">
  <h1><a href="index.html">Mission-Apartment <small><span class="badge" style="margin-bottom: 2em">alpha</span></small></a></h1>
  <a href="#nav">Menu</a>
</header>

<!-- Nav -->
<nav id="nav">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
    <li><a href="generic.html">Generic</a></li>
    <li><a href="elements.html">Elements</a></li>
  </ul>
</nav>

<!-- Banner -->
<section id="banner">
  <div class="banner-heading-wrapper">  
    <i class="icon fa-video-camera"></i>
    <h2>新生活，眼見為憑</h2>
    <p>發起看屋任務<br />
    透過互動式視訊直播，清楚掌握租屋實況<br />
    <br />
    </p>
    <%#= icon("angle-double-down", "", class: "fa-5x") %>
  </div>
</section>

<!-- One -->
<section id="one" class="wrapper style1">
  <div class="inner">
    <article class="feature left">
      <span class="image"><%= image_tag("landing-row-2.jpg") %></span>
      <div class="content">
        <h2>租房子，不再大費周章</h2>
        <p>您不必再為了看 10 分鐘的房屋實況而親自從高雄跑到台北;<br />
        將您的租屋清單交給 Mission Apartment，您只要打開手機或電腦，我們的探員會為您實況直播房屋狀況。<br />
        把您的時間和交通費省下來給更珍貴的事情吧!
        </p>
      </div>
    </article>
    <article class="feature right">
      <span class="image"><%= image_tag("landing-row-1.jpg") %></span>
      <div class="content">
        <h2>有問題想問房東?<br />
        交給我們</h2>
        <p>Mission Apartment 的探員在為您直播房屋狀況時，可以隨時接收您的指示，執行像是詢問水電計費方式、其他室友的狀況等任務;<br />
        </p>
      </div>
    </article>
  </div>
</section>

<!-- Four -->
<section id="four" class="wrapper style2 special">
  <div class="inner">
    <header class="major narrow">
      <h2>歡迎成為我們的試用會員<br />
      完全免費</h2>
      <p>Mission Apartment 目前正在試營運<br />
      歡迎交付看屋任務給我們！
      </p>
      <%= link_to("申請免費直播看屋", root_path, class: "button big special") %>
    </header>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li><a href="#" class="icon fa-facebook">
        <span class="label">Facebook</span>
      </a></li>
      <!-- <li><a href="#" class="icon fa-twitter">
        <span class="label">Twitter</span>
      </a></li>
      <li><a href="#" class="icon fa-instagram">
        <span class="label">Instagram</span>
      </a></li>
      <li><a href="#" class="icon fa-linkedin">
        <span class="label">LinkedIn</span>
      </a></li> -->
    </ul>
    <ul class="copyright">
      <li>&copy; Untitled.</li>
      <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
    </ul>
  </div>
</footer>