@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Banner */
	$banner_palette: 'accent2';

	.banner {
    padding: 10em 0 0 0 !important;
		@include color-typography($banner_palette);
		@include color-button($banner_palette);
		background-attachment: fixed;
    background-size: cover;
    background-position: top;
		text-align: center;
    // for mobile devices
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 736px) {
      background-attachment: local;
    }

    &#landing-banner{
      background-image: image-url('cover7.jpg');
    }
    &#landing-banner-2{
      background-image: image-url('cover5.jpg'); 
    }
    &#registration-banner{
     background-image: image-url('cover.jpg');
    }
    &#mission-banner{
     background-image: image-url('cover2.jpg');
    }
    &#successfully-registered-banner{
      background-image: image-url('cover4.jpg');
    }
    .banner-heading-wrapper{
      position: relative;
      margin-top: 5em;
      bottom: 0px;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.2); 
    }

		h2 {
			font-size: 2.5em;
			padding: 0;
		}

		p {
			color: _palette($banner_palette, fg-bold);
			font-size: 1.5em;
			margin-bottom: 0em;
      padding-bottom: 2em;
		}

		.icon {
			border-radius: 100%;
			border: solid 2px _palette($banner_palette, fg-bold);
			color: _palette($banner_palette, fg-bold);
			display: inline-block;
			font-size: 3em;
			height: 2.25em;
			line-height: 1.25em;
			margin-bottom: (_size(element-margin) * 0.25);
			padding: 0.5em;
			width: 2.25em;
		}

		@include breakpoint(xlarge) {
			@include padding(11em, 0);
		}

		@include breakpoint(large) {
			@include padding(9em, 0);

			h2 {
				font-size: 2em;
			}
		}

		@include breakpoint(medium) {
			@include padding(8em, 2em);
		}

		@include breakpoint(small) {
			@include padding(5em, 2em);

			h2 {
				font-size: 1.5em;
			}

			p {
				font-size: 1em;
			}

			.icon {
				font-size: 2em;
			}
		}

		@include breakpoint(xsmall) {
			@include padding(5em, 2em);

			.icon {
				font-size: 1.5em;
			}
		}
	}
  .banner-form-wrapper{
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-bottom: 1em;
    input{
        background-color: white;
        color: black;
      }
    input[type="submit"], .btn {
      color: white !important;
      background-color: #63c1ae !important;
    }
  }