<!-- Header -->
<header class="alt navbar navbar-default">
  <div class="container">
    <h1 class="navbar-brand" href="javascript:void(0)">
      <%= link_to root_path do %>
        Mission-Apartment<small><span class="badge" style="margin-bottom: 2em">alpha</span></small>
      <% end %>
    </h1>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to("登出", destroy_admin_session_path, method: :delete) %></li>
  </ul>
  <!-- <a href="#nav">Menu</a> -->
  </div>
</header>

<!-- Nav -->
<!-- <nav id="nav">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
    <li><a href="generic.html">Generic</a></li>
    <li><a href="elements.html">Elements</a></li>
  </ul>
</nav> -->
