<!-- Footer -->
<footer id="footer" class="footer">
  <div class="inner">
    <ul class="icons">
      <li><a href="https://www.facebook.com/groups/872592962821382/" class="icon fa-facebook">
        <span class="label">Facebook</span>
      </a></li>
      <!-- <li><a href="#" class="icon fa-twitter">
        <span class="label">Twitter</span>
      </a></li>
      <li><a href="#" class="icon fa-instagram">
        <span class="label">Instagram</span>
      </a></li>
      <li><a href="#" class="icon fa-linkedin">
        <span class="label">LinkedIn</span>
      </a></li> -->
    </ul>
    <ul class="copyright">
      <li>&copy; Mission Apartment 視訊代客看屋服務</li>
    </ul>
  </div>
</footer>